body {
  margin: 0;
  padding: 0;
}

.icon-bar {
  width: 100%;
 /* background-color: hsl(204.9,100%,50%) ;*/
  background-color:white;
  color: #0014c4;
  overflow: auto;
  border-bottom: 1px solid #b2b2b2;
/*  box-shadow: 1px 1px 1px #707070;*/
}
.icon-bar img {
object-fit: cover;
width: 33px;
height: 33px;
}
.icon-bar .active{
  border-bottom: 2px solid #0841ff;
  width: 65px;
}
.icon-bar a {
  float: left;
  width: 25%;
  text-align: center;
  padding: 2px 0;
  transition:  0.9s;
  color: #000000;
  font-size: 20px;
}
.icon-bar a:hover {
 border-bottom: 2px solid #0841ff;
  width: 65px;
  transition:  0.5s;
}
.icon-bar i {
    border-radius: 900px;
    border :1px solid #ffffff;
    background-color:transparent;
    color: white;
    padding: 9px;
    font-size: 13px;
    font-weight: bolder;
    box-shadow: 1px 1px 2px 1px #000000;
}
.main {
  background-color:#d4deeb;
}


.plate1 {
  background-color: #ffffff;
  width: 45%;
  margin: 6px;
  padding: 15px;
  text-align: center;
  float: left;
  border-radius: 8px;
  border:1px solid #d6d6d6;
  box-shadow: 2px 2px 2px #707070;
  font-size: 17px;
  font-weight: bolder;
}
.plate2 {
  background-color: #ffffff;
  width: 45%;
  margin: 6px;
  padding: 15px;
  text-align: center;
  float: right;
  border-radius: 8px;
  border:1px solid #d6d6d6;
  box-shadow: 2px 2px 2px #707070;
  font-size: 17px;
  font-weight: bolder;
}
h4 {
  margin-left: 18px;
  margin-right: 15px;
  margin-bottom: 4px;
  padding: 13px;
  border-bottom: 1px solid #d9d9d9;
}
.search {
  width: 33px;
  height: 33px;
  float: right;
  margin-right: 15px;
}
.plate1 img {
  object-fit: cover;
  width: 33px;
  height: 33px;
}
.plate2 img {
  object-fit: cover;
  width: 33px;
  height: 33px;
}
.plate1:hover , .plate2:hover {
  background-color:#e4e4e47a ;
  transition: 0.2s;
}